

html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  /* align-content: flex-start; */
  justify-content: center;
  text-align: center;
  direction: rtl;
  width: 100%;
  max-width: 550px;
  height:91vh;
  background-color: #FEECD8;
  font-family: 'askim';
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}


.bahad-symbols {
  position: absolute;
  display: flex;
  top: 0.2rem;
  left: 0rem;
}

.symbol {
  margin: 0.2rem;
  height: 3rem;
}

.til-logo {
  position: absolute;
  bottom: 0.2rem;
  right: 0.8rem;
  height: 3rem;
}

.home-background {
  background-image: url('../assets/images/background-home.svg');
  background-size: cover;
  background-position: center;
}


@font-face {
  font-family: askim;
  src: url('/src/assets/fonts/askim/asakim_bold-webfont.ttf');
}

@font-face {
  font-family: assistant;
  src: url('/src/assets/fonts/assistant/Assistant-Regular.ttf');
}

@font-face {
  font-family: assistant-bold;
  src: url('/src/assets/fonts/assistant/Assistant-Bold.ttf');
}