.text-box {
    width: 93%;
    max-height: 70%;
    background-color: #EC8A6E;
    border: 3px solid #9C4434;
    color: #FEECD8;
    font-family: 'assistant';
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 0.3rem;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #9C4534 transparent;
    text-align: start;
    margin-bottom: 2rem;
    white-space: pre-line;
}

.text-box::-webkit-scrollbar {
    width: 8px;
}

.text-box::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.text-box::-webkit-scrollbar-thumb {
    background-color: #9C4534;
    border-radius: 10px;
    border: 2px solid transparent;
}

.text-box::-webkit-scrollbar-thumb:hover {
    background-color: #7b2f23;
}

.text-box::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}

.main-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.mini-title {
    margin: 0.3rem 0rem;
    text-decoration: underline;
}

.paragraph {
    margin: 0.3rem 0rem;
}

.title-main {
    margin-bottom: 0.6rem;
    color: #9C4534;
    font-size: 3rem;
    margin-top: 3.5rem;
}

.title-text {
    margin: 0.3rem 0rem;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.7rem;
}

.image-text {
    margin: 0.5rem 0rem;
    width: 100%;
}

@media (max-height: 800px) {
    .text-box {
        max-height: 67%;
    }
}

@media (max-height: 700px) {
    .title-main {
        margin-bottom: 0.4rem;
        margin-top: 3rem;
    }
    
}

@media (max-height: 650px) {
    .title-main {
        margin-bottom: 0.4rem;
        margin-top: 2.3rem;
    }
    
}

@media (max-width: 415px) {
    .title-main {
        font-size: 2.3rem;
    }
}


