.stadium-img {
    position: absolute;
    top: 12rem;
    right: 50%;
    transform: translateX(50%);
    width: 80%;
    max-width: 350px;
}

.roundButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 0% 14%;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 8rem;
    right: 50%;
    transform: translateX(50%);
}

.roundButtons> :nth-child(1) {
    grid-column: 1 / span 2;
    justify-self: center;
}

.roundButtons> :nth-child(2) {
    grid-column: 1;
}

.roundButtons> :nth-child(3) {
    grid-column: 2;
}

.roundButtons> :nth-child(4) {
    grid-column: 1;
}

.roundButtons> :nth-child(5) {
    grid-column: 2;
}

.roundButtons > :nth-child(6) {
    grid-column: 1 / span 2;
    justify-self: center;
}